// A token is required to authenticate your requests
// Get it from IceScrum > MyAccount > Account > API tokens
var iceScrumToken = '...' 

// Get your project ID from project > Settings > Your Project > Key
projectId = "MYPROJXXX";


// Select the backend to use
const API_base_url = "https://etml.icescrum.com/ws/project/";